* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

body {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #202124;
}

a {
  text-decoration: none;
}

/* Header Styles */

header {
  /* background-color: black; */
  height: 60px;
  padding: 6px 18px;
  display: flex;
  align-items: center;
  justify-content: right;
}

header .nav-bar {
  /* background-color: #70757a; */
  display: flex;
  height: auto;
  justify-content: right;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  justify-content: right;
  gap: 15px;
  align-items: center;
  /* background-color: burlywood; */
  width: 280px;
}

.app-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1f7bf5; */
  transition: all 0.3s;
}

.nav-items a {
  color: #000000de;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-items a:hover {
  text-decoration: underline;
}

.app-icon {
  height: 34px;
  width: 34px;
  border-radius: 100%;
  cursor: pointer;
}

.app-icon:hover {
  background-color: rgb(233, 232, 232);
}

.nav-items .app-icon img {
  height: 65%;
  margin: auto;
}

.sign-btn {
  border: none;
  outline: none;
  background: rgb(58, 138, 243);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  width: 96px;
  padding: 9px 23px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgb(58, 138, 243, 0.4),
    0px 0px 2px rgb(58, 138, 243, 0.4), 0px 0px 2px rgb(58, 138, 243, 0.4),
    0px 0px 2px rgb(58, 138, 243, 0.4);
  cursor: pointer;
  transition: all 0.3s;
}

.sign-btn:hover {
  background: #0061e0;
}

/* Google logo */

.logo-container {
  /* background-color: #1a0dab; */
  margin-top: 6vh;
}

.logo {
  /* background-color: pink; */
  height: 92px;
}

.logo img {
  margin: 0 auto;
  display: flex;
}

/* search box and buttons */

.search-container {
  display: flex;
  /* background-color: #3c4043; */
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.search-bar {
  display: flex;
  position: relative;
  /* background-color: #0061e0; */
  height: 44px;
  width: 43vw;
  justify-content: center;
}

.search {
  border: 1px solid rgba(168, 168, 168, 0.562);
  outline: none;
  border-radius: 100px;
  width: 100%;
  padding: 2px 40px;
  font-size: 16px;
  transition: all 0.1s;
}

.search-bar .search-tooltip {
  position: absolute;
  background-color: #2021249d;
  color: rgb(230, 228, 228);
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
  pointer-events: none;
  top: 30px;
  left: 200px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.search-bar:hover .search-tooltip {
  opacity: 1;
}

.search:hover,
.search:focus {
  box-shadow: 0px 0px 4px 2px rgba(44, 44, 44, 0.2);
}

.search-icon {
  position: absolute;
  left: 3%;
  top: 40%;
}

.voice-icon {
  position: absolute;
  height: 50%;
  right: 3%;
  top: 30%;
}

.voice-icon img {
  height: 100%;
}

.voice-icon .voice-tooltip {
  position: absolute;
  white-space: nowrap;
  background-color: #202124a6;
  color: rgb(230, 228, 228);
  padding: 6px 10px;
  font-size: 12px;
  font-weight: bold;
  border: 1px outset grey;
  border-radius: 0px;
  pointer-events: none;
  right: -43px;
  top: 38px;
  opacity: 0;
}

.voice-icon:hover .voice-tooltip {
  opacity: 1;
}

.search-btn {
  /* background-color: #1a0dab; */
  margin-top: 30px;
}

.search-btn button {
  background-color: #e2e2e2;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 8px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.search-btn button:hover {
  box-shadow: 0px 0px 4px 1px rgba(27, 27, 27, 0.4);
}

.search-bar:hover .search-tooltip {
  opacity: 1;
}

.search .search-icon {
  position: absolute;
  top: 17px;
  left: 20px;
}

.search-icon img {
  height: 14px;
}

.search .voice-tip {
  position: absolute;
  right: 14px;
  top: 12px;
  padding: 0 8px;
}

.voice img {
  height: 22px;
  cursor: pointer;
}

.voice-tip:hover .voice-tooltip {
  opacity: 1;
}

.languages {
  /* background-color: #0061e0; */
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.langs {
  /* background-color: #202124; */
  display: flex;
  list-style: none;
  gap: 14px;
  width: 420px;
  color: #3c4043;
  /* font-weight: 700; */
  font-size: small;
}

.langs a:link,
.langs a:visited {
  font-size: small;
  color: #0000ee;
}

.langs a:hover,
.langs a:active {
  text-decoration: underline;
  /* font-weight: 600; */
}

.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.nigeria {
  background-color: #f0f1f1;
  display: flex;
  height: 48px;
  padding: 16px 0 0 30px;
  color: #70757a;
  /* align-items: center; */
  font-size: 15px;
  border-bottom: 1px solid #bebebe;
}

.others {
  background-color: #f0f1f1;
  /* background-color: #202124; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  height: 48px;
  padding-top: 5px;
}

.foot-links {
  padding: 0px 0 0 30px;
  gap: 20px;
  /* background-color: #0000ee; */
  display: flex;
  list-style: none;
  /* justify-content: space-between; */
}

.start {
  width: 30%;
  margin-right: 150px;
}
.end {
  width: 20%;
  margin-left: auto;
}

.carbon {
  margin-top: 2px;
}

.start a,
.end a,
.carbon a {
  /* padding: 0 20px 0px 0; */
  text-decoration: none;
  color: #70757a;
}

/* 
.second {
  flex: 1;
  justify-content: center;
}

.third {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0 25px;
} */

.start a:hover,
.end a:hover,
p a:hover {
  text-decoration: underline;
}

i img {
  height: 14px;
  padding: 0 6px 0 0;
}

.hidden {
  display: none;
}
